section
  div.sw
    div.cw
      figure.a11a_14b_12c_12d_12e_12
        .oxy Grid






//- - var colors = [
//- -  'red',
//- -  'orange',
//- -  'yellow',
//- -  'green',
//- -  'blue',
//- -  'indigo',
//- -  'violet'
//- - ]
//-
//- .colorPicker
//-   each color in colors
//-     - var pickerId = "hat-color"
//-     input(type='radio' name=pickerId value=color class=color id=pickerId + "-" + color)
//-     label(for=pickerId + "-" + color, class=color)= color

// 27
- var n = 1
- var i = 28
section
  div.sw
    div.cw
      while n < i
        figure.a127a_127b14b_14c14c_14d14d_14e12e_12
          span.paxyap11ap_11
          .oxy= n++

// 18
- var n = 1
- var i = 19
section
  div.sw
    div.cw
      while n < i
        figure.a118a_118b14b_14c14c_14d14d_14e12e_12
          span.paxyap11ap_11
          .oxy= n++

// 12
- var n = 1
- var i = 13
section
  div.sw
    div.cw
      while n < i
        figure.a112a_112b14b_14c14c_14d14d_14e12e_12
          span.paxyap11ap_11
          .oxy= n++


- var n = 1
- var i = 7
section
  div.sw
    div.cw
      while n < i
        figure.a16a_16b14b_14c14c_14d14d_14e12e_12
          span.paxyap11ap_11
          .oxy= n++



- var n = 1
- var i = 5
section
  div.sw
    div.cw
      while n < i
        figure.a14a_14b14b_14c14c_14d14d_14e12e_12
          .oxy= n++

- var n = 0
- var i = 4
section
  div.sw
    div.cw
      while n < i
        figure(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').a14a_14b14b_14c14c_14d14d_14e12e_12
          span.paxyap11ap_11
          span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.bg-wood
          span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.shadow
          span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.grad2
            h4.oxy6.mb1= n++

section
    div.sw
      div.cw
        figure(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').a14a_14b14b_14c14c_14d14d_14e12e_12
          span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
          span.paxyap11ap_11.bg-wood
          h4.oxy6.mb1 TITLE

        figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10
          span(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
          span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
          span.paxyap11ap_11
          h4.oxy6 Title


section
  div.sw
    div.cw
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2



- var n = 0

section
  div.sw
    div.cw
      while n < 20
        figure.a120a_14.b11= n++

- var n = 0
- var i = 19
section
  div.sw
    div.cw
      while n < i
        figure.a119= n++

- var n = 0
- var i = 18

section
  div.sw
    div.cw
      while n < i
        figure.a118= n++

- var n = 0
- var i = 17

section
  div.sw
    div.cw
      while n < i
        figure.a117= n++

- var n = 0
- var i = 16

section
  div.sw
    div.cw
      while n < i
        figure.a116= n++

- var n = 0
- var i = 15

section
  div.sw
    div.cw
      while n < i
        figure.a115= n++


- var n = 0
- var i = 14

section
  div.sw
    div.cw
      while n < i
        figure.a114= n++

- var n = 0
- var i = 13

section
  div.sw
    div.cw
      while n < i
        figure.a113= n++

- var n = 0
- var i = 12

section
  div.sw
    div.cw
      while n < i
        figure.a112= n++

- var n = 0
- var i = 11

section
  div.sw
    div.cw
      while n < i
        figure.a111= n++

- var n = 0
- var i = 10

section
  div.sw
    div.cw
      while n < i
        figure.a110= n++


- var n = 0
- var i = 9

section
  div.sw
    div.cw
      while n < i
        figure.a19= n++


- var n = 0
- var i = 8
section
  div.sw
    div.cw
      while n < i
        figure.a18= n++

- var n = 0
- var i = 7

section
  div.sw
    div.cw
      while n < i
        figure.a17= n++

- var n = 0
- var i = 6
section
  div.sw
    div.cw
      while n < i
        figure.a16= n++

- var n = 0
- var i = 5
section
  div.sw
    div.cw
      while n < i
        figure.a15= n++

- var n = 0
- var i = 4
section
  div.sw
    div.cw
      while n < i
        figure.a14= n++

- var n = 0
- var i = 3
section
  div.sw
    div.cw
      while n < i
        figure.a13= n++

- var n = 0
- var i = 2
section
  div.sw
    div.cw
      while n < i
        figure.a12= n++

- var n = 0
- var i = 1
section
  div.sw
    div.cw
      while n < i
        figure.a11= n++

section
  div.sw
    div.cw
      figure.a12a_119 1/2
      figure.a12a_119 1/2


section
  div.sw
    div.cw
      figure.a23a_18b12b_12 2/3
      figure.a13a_18b12b_12 1/3


section
  div.sw
    div.cw
      figure.a34a_15 3/4
      figure.a14a_15 1/4

section
  div.sw
    div.cw
      figure.a45a_15 4/5
      figure.a15a_15 1/5

section
  div.sw
    div.cw
      figure.a56a_15 5/6
      figure.a16a_15 1/6


section
  div.sw
    div.cw
      figure.a13a_15 1/3
      figure.a13a_15 1/3
      figure.a16a_15 1/6
      figure.a16a_15 1/6


  div.sw
    div.cw
      figure.a23a_15 2/3
      figure.a112a_15 1/12
      figure.a14a_15 1/4


  div.sw
    div.cw
      figure.a12a_15 1/2
        p a12
      figure.a14a_15 1/4
      figure.a14a_15 1/4


section
  div.sw
    div.cw
      figure
        h4 HTML5 Boilerplate
        p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
